label{
	display: block;
	float: left;
	font-weight: bold;
	margin-right: 10px;
	text-align: right;
	width: 120px;
	line-height: 25px;
	font-size: 15px;
	color: white;
	text-shadow:1px 1px 3px #080808;
}
#generalform{
	padding: 20px;
	background: #006699;
	overflow: auto;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	box-shadow: 5px 5px 15px #A0A0A0;
	-moz-box-shadow: 5px 5px 15px #A0A0A0;
	-webkit-box-shadow: 5px 5px 15px #A0A0A0;
}
.container{
	width: 740px;
}
.error{
	color: white;
	background-color: #D00000;
	padding: 4px;
	margin: 10px;
	font-family: Arial;
	font-weight: bold;
}
.feedback{
	font-size: 15px;
	padding: 5px;
	border: none;
	width: 500px;
	color: white;
	font-weight: bold;
	text-shadow: 1px 1px 3px #080808;
}
.field{
	margin-bottom: 7px;
}
.field:hover .hint{
	position: absolute;
	display: block;
	margin: -30px 0 0 650px;
	font-size: 15px;
	color: white;
	padding: 7px 10px;
	background: rgba(0,0,0,0.6);
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}
.hint{
	display: none;
}
.input{
	font-size: 15px;
	padding: 5px;
	border: 1px solid #b9bdc1;
	width: 500px;
	color: #505050;
}
.input:focus{
	background-color: white;
}
.textarea{
	font-family: Arial;
	height: 150px;
	width: 500px;
	font-size: 15px;
	padding: 5px;
	border: 1px solid #b9bdc1;
	color: #505050;
}