#left_side{
	width: 490px;
	margin-top: 10px;
	margin-right: 10px;
	float: left;
}
#right_side{
	margin-top: 10px;
	float: left;
	width: 500px;
}
.container{
	width: 460px;
}
.input{
	width: 360px;
}
.field:hover .hint{
	margin: -30px 0 0 450px;
}